#title {
    font-family: 'Qahiri', sans-serif;
    font-size: 300px;

}
img {
    width: 500px;
}
html {
    text-align: center;
}
.letters {
    font-family: 'Qahiri', sans-serif;
    font-size: 50px;
}